.cenetered-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

div.cenetered-text h1{
    font-size: 10rem;
    font-weight: bold;
}

.main-row{
    margin-top: 8rem;
}