* {
  font-family: 'Montserrat', sans-serif;
}
.w100 {
  font-weight: 100;
}
.w200 {
  font-weight: 200;
}
.w300 {
  font-weight: 300;
}
.w400 {
  font-weight: 400;
}

/*que ocupe todo el ancho para que centre mejor*/
#footer-p{
  width: 100%;
}

/*class absolute footer*/
.bottom-footer{
  position: absolute; 
  bottom: 0; 
  width: 100%;
}

a>i.social-icons{
  font-size:1.6rem;
}

html{
  height: 100%;
}

body{
  min-height: 100%;
}
#main-nav{
  font-size: 1rem;
  height: 60px;
}

#sidebar-target{
  font-size: 20px;
  border-radius: 4px;
  padding: 4px 12px;
}

  li.nav-item{
    padding-left: 5px;
    padding-right: 5px;
  }

  li.nav-item>a, #liInicio>a{
    font-size: 16px;
    font-weight:normal;
  }
  
  #registro-btn{
    text-decoration: none;
    font-weight:normal;
    border-bottom: none;
  }

 .navbar-nav>li>a:hover, #liInicio>a 
  {
    text-decoration: none;
	  font-weight:bold;
	  border-bottom: 5px solid #f9a01b;
  }
  
  #link-vermas{
    padding-top: 0.3rem;
    padding-left: 0.5rem;
  }

   #divNoticias {
	  margin-top:15px; 
  }

   
	.list-group-item {
    float: left;
    border: 0 !important;
    margin: 0px;
    padding: 10px 0px;
	}
	
	.links {
		color:#f9a01b
		
	}
	.links:hover {
		color:#f9a01b;
  }
  
  #toTopBtn{
    display: none;
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #383838;
    color: white;
    opacity: .50;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px 4px 0 0;
    width: 50px;
    height: 40px;
  }

  .signIn {
	border: none;
  }
  /*sidemenu*/
  .menu-container {
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 900;
    background: transparent;
    width: 100vw;
    /*height: calc(100% - 45px);
    min-height: calc(100vh - 45px);*/
    height: 100%;
    transition: all 500ms;
}

.account-info{
  width: 100%;
  display: block; 
}

#drop-arrow{
  /*-moz-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;*/
  width: 2vw; 
  height: 2vh;
}

.flip-dropdown{
  transform: rotate(-180deg);
}

.accoutn-data-wrapper{
  color: #ffffff;
  line-height: 3rem;
  padding-right: 0;
  font-weight: bold;
  font-size: 4vw;
}

.flip-arrow{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.incon-wrapper{
  padding: 0;
}

.menu {
  width: 60%;
  height: 100%;
  z-index: 1000;
}

.customSidenav{
  padding: 0;
}

.customUlSidenav{
  background-color: #67696b;
  padding-top: 1rem;
}

#productList{
  display: none;
  background-color: #999b9e;
}

#account-info{
  display: none;
  padding-top: 2vh;
}

.icon-img {
  width :40px; 
  height:40px; 
  margin-right: 10px;
}

.arrow-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*breack points*/
@media (min-width: 992px) {
  .navbar {
    padding: 1vh 15vw 1vh 10vw;
  }

}

@media (max-width: 992px){

  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 4vw;
    padding-bottom: 1vh;
    padding-top: 1vh;
  }
  .navbar-nav>li>a, #liInicio>a 
  {
    text-decoration: none;
    font-weight:bold;
    color: #ffffff;
    border-bottom: none;
    font-size: 4vw;
    line-height: 5vh;
  }
  
  .navbar-nav>li>a:hover, #liInicio>a:hover 
  {
    text-decoration: none;
    font-weight:bold;
    color: #f9a01b;
    border-bottom: none;

  }

  .navbar-nav>li{
    line-height: 3rem;
    padding: 0;
  }

  .navbar-nav>li:hover{
    background-color: #ffffff;
  }

  #registro-btn{
    font-weight: bold;
  }

}

@media (min-width: 320px) {
  #row-noticias>div.col-2{
    max-width: 50%
  }
}
/*gama baja*/
@media (min-width: 240px) {
  #row-noticias>div.col-2{
    max-width: 50%;
  }
  #row-noticias>div.col-2>h1{
    font-size: 1.8rem;
  }
  #link-vermas{
    max-width: 50%;
  }
}


   
  
